@font-face {
  font-family: 'Basteleur';
  src: url('Fonts/Basteleur-Bold.eot');
  src: url('Fonts/Basteleur-Bold.eot?#iefix') format('embedded-opentype'),
      url('Fonts/Basteleur-Bold.woff2') format('woff2'),
      url('Fonts/Basteleur-Bold.woff') format('woff'),
      url('Fonts/Basteleur-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basteleur Moonlight';
  src: url('Fonts/Basteleur-Moonlight.eot');
  src: url('Fonts/Basteleur-Moonlight.eot?#iefix') format('embedded-opentype'),
      url('Fonts/Basteleur-Moonlight.woff2') format('woff2'),
      url('Fonts/Basteleur-Moonlight.woff') format('woff'),
      url('Fonts/Basteleur-Moonlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



html {
  line-height: 1.5;
  font-size: 20px;
  overflow: hidden;
  height: 100%;
  max-width: 100vw;
}

body {
  margin: 0 auto;
  max-width: 100vw;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  hyphens: auto;
  overflow-wrap: break-word;
  height: 100%;
  overflow: auto;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  background: linear-gradient(-45deg, #ffae96, #f3c1d4, #d9d9d9, #aadbed, #fffcaf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

body::before {
  content: "";
  position: fixed;
  top: -40px;
  left: -30px;
  width: 130%;
  height: 25vh;
  background-image: inherit;
  background-size: cover;
  filter: blur(20px);
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 33%;
  }

  25% {
    background-position: 33% 77%;
  }

  50% {
    background-position: 100% 77%;
  }

  75% {
    background-position: 77% 33%;
  }

  100% {
    background-position: 0% 33%;
  }
}

body {
  font-size: 13pt;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3,
h4 {
  page-break-after: avoid;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-justify: inter-word;
  font-size: 1em;

}

a {
  color: #1a1a1a;
  text-decoration: none;
}

a:visited {
  color: #1a1a1a;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Basteleur';
  margin: 0px;
  font-size: 2.8vw;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

h2 {
  font-size: 2.3vw;
  font-family: 'Basteleur Moonlight';
  position: sticky;
  top: 48px;
  /* this is the height of the nav element plus its padding */
  margin-top: -48px;
  /* this is the negative value of the top property */
  margin-bottom: 0px;
  font-weight: 500;
  z-index: 2;
}


h3 {
  font-size: 1.5em;
  font-family: 'Lora', serif;
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
  top: 0;
  font-weight: 300;
}

ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li>ol,
li>ul {
  margin-top: 0;
}


.section-inner {
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5%;
  grid-column-gap: 1rem;
  row-gap: 10px;
  max-width: 100vw;
}

div {
  margin-top: 0;
}

.sticky-menu {
  position: sticky;
  top: 0;
  font-family: 'Basteleur Moonlight';
  z-index: 2;
  padding-top: 10px;
}

.sticky-menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.sticky-menu li {
  margin-right: 20px;
}

.sticky-menu li:last-child {
  margin-right: 0;
}

.sticky-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.poem {
  font-family: 'Lora', serif;
  font-size: 0.85em;
  font-weight: 500;
  font-style: italic;
}

.story {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 0.85em;
}

.regular_text {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

.Bibliography {
  justify-content: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.85em;
  max-width: 50%;
  position: relative;
  margin: auto;
}

.footnote>span {
  display: none;
}

.footnote>sup {
  display: inline;
  color: #fffcaf;
}

.footnote.reveal>sup {
  display: none;
}

.footnote.reveal>span {
  display: inline;
  color: #fffcaf;
}

.circle-button {
  background-color: #000000;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
}

.circle-button.outline {
  filter: blur(5px);
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.buttons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 16vw;
  padding-right: 16vw;
}

@media (max-width: 900px) {

  h1 {
    font-size: 4.8vw !important;
  }

  h2 {
    font-size: 3vw !important;
    font-weight: 500 !important;
    font-weight: normal;
  }

  body {
    font-size: 3vw !important;
  }

  .section-inner {
    display: block !important;
    max-width: 100vw;
  }

  .sticky-menu a {
    font-size: 3.5vw;
    font-weight: normal;
    padding: 0px;
  }

  body::before {
    height: 25vh;
  }
}